@{

    var controllerName = ViewContext.RouteData.Values["Controller"]?.ToString();
    var actionName = ViewContext.RouteData.Values["Action"]?.ToString();

    var isOnHomePage = false;
    var isOnMessagePage = false;

    if (controllerName == "Home" && actionName == "Index") isOnHomePage = true;
    if (controllerName == "Message" && actionName == "Index") isOnMessagePage = true;
    if (controllerName == "Message" && actionName == "Send") isOnMessagePage = true;

}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Morsley UK - Dark Bootstrap Template</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">        
        <link rel="stylesheet" href="~/css/morsley_uk.css" />

    </head>

    <body style="display: flex; flex-direction: column; min-height: 100vh; padding-top: 50px; padding-bottom: 50px;">

        @* Header *@
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height: 70px;">
                <div class="container-fluid">

                    @if (!isOnHomePage)
                    {
                        <img src="~/images/john-morsley.png" alt="John Morsley" style="position: absolute; top: 5px; left: 15px; height: 60px; z-index: 666;" />
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">                        
                            <img src="~/images/morsley-uk.png" alt="Morsley UK" style="height: 40px;" class="pl-5"/>
                        </a>
                    }
                    else
                    {
                        <img src="~/images/morsley-uk.png" alt="Morsley UK" style="height: 40px;" />
                    }

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            @if (!isOnHomePage)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                            }
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Page1")
                                {
                                    <span class="nav-link disabled text-muted">Page 1</span>
                                }
                                else
                                {
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Page1">Page 1</a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Page2")
                                {
                                    <span class="nav-link disabled text-muted">Page 2</span>
                                }
                                else
                                {
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Page2">Page 2</a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Page3")
                                {
                                    <span class="nav-link disabled text-muted">Page 3</span>
                                }
                                else
                                {
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Page3">Page 3</a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Page4")
                                {
                                    <span class="nav-link disabled text-muted">Page 4</span>
                                }
                                else
                                {
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Page4">Page 4</a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewContext.RouteData.Values["Action"]?.ToString() == "Page5")
                                {
                                    <span class="nav-link disabled text-muted">Page 5</span>
                                }
                                else
                                {
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Page5">Page 5</a>
                                }
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
        @* Header *@

        @* Body *@
        <div class="container mt-4" style="flex: 1;">
            <main role="main" class="pt-3 pb-3">
                @RenderBody()
            </main>
        </div>
        @* Body *@

        @* Footer *@
        @if (!isOnMessagePage)
        {
            <footer class="bg-dark text-light fixed-bottom" style="height: 70px; display: flex; align-items: center;">
                <div class="container text-center">
                    <a class="btn btn-outline-success btn-sm" asp-controller="Message" asp-action="Index">Message Me</a>
                </div>
            </footer>
        }
        @* Footer *@

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)

    </body>
    
</html>