@{
    ViewData["Title"] = "Home";
}

<section class="hero-section" id="home">
    <div class="container">
        <div class="row align-items-center pr-5">
            <div class="col-lg-4 mb-4 mb-lg-0 text-center">
                <img src="~/images/john-morsley.png" alt="John Morsley" class="img-fluid" style="max-width: 300px;">
            </div>
            <div class="col-lg-8 pe-lg-5">
                <h1 class="display-4 fw-bold mb-2">Title</h1>
                <p class="lead mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu viverra massa, id pellentesque ligula. Nunc ut nibh lobortis, tempor mi in, gravida tortor. In ultrices rhoncus neque, vitae dignissim mi consequat id. Nam efficitur, nibh id pulvinar maximus, mi erat consectetur ante, sed hendrerit augue sem sed lorem. Nulla interdum dignissim orci, blandit sagittis turpis gravida vel. Pellentesque accumsan, odio sit amet varius hendrerit, neque felis fringilla ligula, ac euismod mauris risus quis nulla.
                </p>
                <p class="lead mb-4">
                    Suspendisse sagittis ex mollis, lacinia ipsum et, hendrerit mauris. Donec quam dui, cursus vitae vulputate ut, fermentum nec libero. Aliquam id nisi in dui sodales tincidunt. Quisque consectetur aliquam nisl vitae feugiat. In tempus mi ut dui consequat, ac ultrices diam suscipit. Praesent malesuada in mauris a sodales. Nunc pretium, dui ut scelerisque efficitur, ex nisl feugiat odio, ut sodales eros sapien sit amet justo. Vivamus at dui sit amet diam hendrerit lobortis vitae a eros.
                </p>
                <p class="lead mb-5">
                    Aenean scelerisque ultrices eros nec semper. Vestibulum tempus sit amet arcu vitae ultricies. Phasellus in elementum libero. In sit amet ex tortor. Mauris at dictum lorem. Donec eget justo at nisi tincidunt dignissim vel ullamcorper magna. Phasellus augue ligula, luctus non augue et, venenatis ultricies diam. Pellentesque vitae accumsan sapien.
                </p>
            </div>
        </div>
    </div>
</section>