@{
    ViewData["Title"] = "Page X";
}

<section class="hero-section">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 fw-bold mb-2">Page X</h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel blandit ipsum. Aliquam ac sapien sed nulla viverra faucibus a sit amet elit. Donec elementum nec tortor in faucibus. Vestibulum sollicitudin placerat vestibulum. Nullam rhoncus neque enim, sit amet ultricies lectus accumsan sit amet. Nulla sollicitudin nunc dignissim velit interdum, vel mattis ex aliquam. Maecenas sollicitudin non tortor ut bibendum. Nulla porta velit sed justo maximus laoreet.
                </p>
                <p class="text-muted mb-2 small">
                    In tempus luctus dui in tempor. Nam nec laoreet lacus. Ut vitae varius massa, in egestas arcu. Duis venenatis, leo eget hendrerit suscipit, augue eros tincidunt turpis, in dictum lorem mi vel nisl. Suspendisse sit amet mi dui. Aenean placerat nibh sed nisi ultricies malesuada. Proin finibus massa nisl, sed faucibus ipsum dapibus non. Mauris neque est, dapibus et placerat quis, ornare in tellus. Praesent nec faucibus neque. Nullam maximus enim mauris, ut sagittis ipsum faucibus eu. Sed in placerat velit, id dictum enim.
                </p>
            </div>
        </div>
    </div>

</section>

<section class="py-5">

    <div class="container">

        <div class="row mb-5">
            <div class="col-12">
                <div class="card p-4">
                    <h2 class="h3 fw-bold mb-3">Subsection One</h2>
                    <p class="mb-3">
                        Donec quis maximus erat. Praesent eget dignissim nisi. Nulla facilisi. Mauris vitae turpis ut libero gravida sollicitudin quis sed sem. Nulla facilisi. Donec dignissim eget augue vel convallis. Vestibulum maximus bibendum felis vel consectetur. Sed commodo mattis risus tincidunt vestibulum. Pellentesque sem lectus, luctus vitae dui sit amet, sodales dapibus augue. Nunc pellentesque pellentesque sem non tincidunt. Donec non luctus dui, eu tempor erat. Etiam pharetra, metus eu dapibus pharetra, sem tortor varius purus, id ornare nulla ligula sit amet urna. Fusce aliquam maximus tellus vel euismod. Morbi imperdiet a nibh sit amet feugiat. Duis accumsan nulla vel ligula consectetur interdum.
                    </p>
                    <p class="text-muted mb-2 small">
                        Cras placerat leo non nisi iaculis fermentum. Sed rutrum urna laoreet, rutrum lacus sit amet, congue sapien. Vivamus ex felis, malesuada sit amet interdum vitae, sagittis ac tellus. Curabitur vitae mauris posuere, tempor eros quis, dapibus urna. In a bibendum risus, id sagittis leo. Duis placerat, nunc id rhoncus lobortis, eros metus ultrices nisl, non blandit sapien eros sit amet justo. Vivamus pharetra libero mollis dolor imperdiet mollis. Praesent vitae pharetra sapien. Suspendisse eget magna volutpat, tempus enim quis, imperdiet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus efficitur massa at justo sodales rutrum. Morbi blandit diam risus, non semper risus sagittis vel.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12">
                <div class="card p-4">
                    <h2 class="h3 fw-bold mb-3">Subsection Two</h2>
                    <p class="mb-3">
                        In lobortis commodo ante sit amet scelerisque. Aenean eu nisl vestibulum, gravida sem in, sollicitudin enim. Ut commodo sagittis mi non condimentum. Nam lectus erat, pharetra et lectus id, mollis tristique est. Aenean viverra purus quis odio viverra, non sollicitudin neque lobortis. In convallis eget est in gravida. Maecenas posuere cursus leo non ornare. Aenean vel sagittis nisi, eu accumsan mi. Maecenas sed lacus sed justo porttitor sollicitudin nec eu erat. Nunc semper, nibh vitae lacinia semper, justo nisl consequat urna, eu viverra nulla tellus id justo. Nunc condimentum quam viverra erat blandit varius. Donec mattis nisl metus, at fringilla elit dignissim a. Pellentesque sit amet lorem dui. Nunc in sagittis risus.
                    </p>
                    <p class="text-muted mb-2 small">
                        Etiam vulputate cursus mi, a fringilla nunc rutrum vitae. Maecenas eget lorem feugiat erat porttitor pretium porttitor vitae justo. Nam vulputate, ante sed sodales scelerisque, leo ex congue lectus, eu convallis velit tellus vel nibh. Praesent placerat dui diam, quis semper enim imperdiet sit amet. Nam malesuada ut orci efficitur dapibus. Vestibulum condimentum libero in purus mattis fringilla. Morbi lacinia sollicitudin risus et varius. Aliquam erat volutpat. Phasellus aliquet, enim in sodales blandit, nulla elit laoreet dui, nec lobortis lorem velit vitae diam. Aenean id consectetur diam. Fusce semper tempus nibh in sodales. In at sodales erat. Donec lacinia at mi at euismod. Etiam sit amet libero augue.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>